
.hid{
	display: none;
}

ul{
	margin: 0;
}

.flex-center, .center{
	display: flex;
	justify-content: center;
}

.center{
	padding: 25px;
	border: 1px gray solid;
	font-size: 20px;
	margin-bottom: 50px;
}

.center li{
	list-style: none;
	display: inline-block;
	margin-right: 25px;
}

.center li a{
	text-decoration: none;
	margin-bottom: 5px;
}

#chbox{
	display: inline-block;
	
}

.chb input, .chb label{
	margin: 0;
}

.chb{
	margin-bottom: 10px;
}

.vcenter{
	text-align: center;
}

.weatherText{
	font-size: 18px;
}

table{
	margin-top: 50px;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 2px #B1D0E6 solid;
	padding: 0 10px;
}
th{
	color: #00669C;
}
td{
	color: #0066B2;
	font-size: 18px;
}
dd{
	margin-left: 0;
}
.container .row h2{
	text-align: center;
}